*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  width: 100px;
  height: 100px;
  margin: 30px 15px;
  text-align: center;
  font-size: 23px;
  border: 1px solid black;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}
