*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 15px;
  text-align: center;
  font-size: 23px;
  border: 1px solid black;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}
